body {
    font-family: 'Caveat', cursive;
    min-height: 100vh;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   } 

* {
    box-sizing: border-box;
  }

.container {
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid red;
  }

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  
  html {
    scroll-behavior: smooth; 
  }
  
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: #000000;
    font-size: 20px;
    transition: .3s;
  }

  a {
    text-decoration: none;  
    transition: color 0.5s;
  }

  a:hover {
    color: #01b828;
  }

  .box {
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #0000FF;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.box:hover {
    background-color: #FFCCCC;
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
  border: 1px solid red;
}

.box {
  border-style: solid;
  border-width: 1px;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #0000FF;
  -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.box:hover {
  background-color: #FFCCCC;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
