body {
    font-family: 'Caveat', cursive;
    min-height: 100vh;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #212226;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #d9d9d9;
   } 
   * {
    box-sizing: border-box;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  